.reveal-modal-bg {
  display: block;
}

#messageBox {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 112px;
  .button {
    margin-left: 10px;
  }

  .closeLink {
    color: black !important;
    background-color: inherit !important;
    text-decoration: underline;
    padding: 0 0 0.65rem 0.7rem;
    font-size: 0.8rem;
  }
}
